$dark-color: hsl(0, 0%, 0%);
$light-color: hsl(0, 0%, 100%);
$text-second-dark-grey-color: hsl(0, 0%, 36%);
$text-second-light-grey-color: hsl(0, 0%, 87%);
$text-second-light-color: hsl(150, 54%, 95%);
$block-bg-color: hsl(0, 0%, 94%);
$accent-color-1: hsl(147, 70%, 50%);
$accent-color-2: hsl(158, 76%, 32%);
$text-status-color: hsl(0, 2%, 24%);
$tag-bg: hsla(54, 75%, 28%, 0.4);
$tag-text-color: hsl(68, 84%, 67%);
