@use "variables" as vars;
@use "mixins" as mx;
@use "toolbar";

// @use "components/typography";
// @use "components/buttons";

// %{vars.$primary-color} {
//   color: vars.$primary-color;
// }

%font-poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

%font-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

%font-poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
%rounded-corners {
  border-radius: 12px;
}

%block {
  background-color: vars.$block-bg-color;
  padding: 12px;
  @extend %rounded-corners;
}

%block-title {
  color: vars.$dark-color;
  margin-bottom: 16px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  // letter-spacing: 0%;
  vertical-align: middle;
}

%block-text-secondary {
  @extend %font-poppins-medium;
  font-size: 8px;
  line-height: 150%;
  letter-spacing: 0%;
}

%block-accent-bg {
  background-color: vars.$accent-color-1;
}

%block-accent {
  @extend %block-accent-bg;
  color: vars.$light-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  margin: 0 auto;
  padding: 15px 20px;
  width: 595px;
  margin-bottom: 80px;
}

.wrapper {
  width: 100%;
  width: 555px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  width: 124px;
}

.profile-img {
  @extend %rounded-corners;
  width: 124px;
  aspect-ratio: 1 / 1;
}

.profile-info {
  @extend %block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__greeting {
    @extend %font-poppins-medium;
    font-size: 10px;
  }

  &__block {
    &-name {
      @extend %font-poppins-semibold;
      color: vars.$dark-color;
      font-size: 14px;
      font-weight: 600;
      line-height: 104%;
    }

    &-job {
      @extend %font-poppins-medium;
      color: vars.$text-second-dark-grey-color;
      font-size: 12px;
      line-height: 150%;
    }
  }
}

.lang {
  @extend %block;
  width: 267px;

  &__title {
    @extend %block-title;
  }
}

.stat {
  display: flex;
  justify-content: space-between;
  list-style: none;
  @extend %font-poppins-medium;
  line-height: 104%;
  font-size: 10px;

  &__title {
    display: flex;
    flex-direction: column;
    @extend %font-poppins-medium;
    color: vars.$dark-color;

    &-elem {
      margin-bottom: 10px;
    }
  }

  &__bar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-elem {
      width: 168px;
      height: 11px;
      border-radius: 3px;
      @extend %block-accent-bg;

      &--short {
        width: 80%;
      }
    }
  }
}

.experience {
  @extend %block;
  width: 411px;

  &__title {
    @extend %block-title;
  }

  &__card {
    padding: 8px;
    border-radius: 10px;
    background-color: vars.$light-color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--accent {
      background-color: vars.$accent-color-1;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      &-date {
        @extend %block-text-secondary;
      }
    }

    &-content {
      display: flex;
    }
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  border-radius: 59px;
  background-color: vars.$tag-bg;

  &__content {
    @extend %font-poppins-medium;
    font-size: 8px;
    line-height: 155%;
    letter-spacing: 0%;
    color: vars.$tag-text-color;
  }
}

.job {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  &__info {
    width: 124px;
    flex-shrink: 0;

    &-title {
      @extend %font-poppins-medium;
      font-size: 10px;
      line-height: 150%;
      color: vars.$dark-color;
      margin-bottom: -2px;
    }

    &-notes {
      @extend %font-poppins-regular;
      font-size: 8px;
      line-height: 150%;
      color: vars.$text-status-color;
    }
  }

  &__descr {
    @extend %font-poppins-regular;
    font-size: 8px;
    line-height: 150%;
    color: vars.$dark-color;
    padding-left: 12px;
  }
}

.tool {
  @extend %block;
  width: 124px;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__title {
    @extend %block-title;
  }

  &__card {
    position: relative;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // justify-items: start;
    // align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 6px;
    background-color: vars.$light-color;

    &-name {
      transform: translate(-50%, -50%);
      top: 0;
      left: 50%;
      position: absolute;
      padding: 2px 6px;
      @extend %font-poppins-medium;
      font-size: 5px;
      line-height: 142%;
      border-radius: 59px;
      background-color: vars.$dark-color;
      color: vars.$light-color;
      white-space: nowrap;
    }

    &-elem {
      width: 15px;
      height: 15px;
      border: none;
    }
  }
}

.education {
  @extend %block;
  width: 268px;
  padding: 12px;

  &__title {
    @extend %block-title;
  }

  &__content {
    display: flex;
    gap: 12px;

    &-column {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 8px;
  background-color: vars.$light-color;
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 8px;

    &-content {
      @extend %block-text-secondary;
      font-size: 10px;
      line-height: 150%;
    }
  }

  &__main {
    &-title {
      @extend %font-poppins-medium;
      color: vars.$dark-color;
      font-size: 10px;
      line-height: 104%;
    }

    &-content {
      @extend %font-poppins-regular;
      font-size: 8px;
      line-height: 150%;
    }
  }

  &__footer {
    @extend %font-poppins-regular;
    font-size: 8px;
    line-height: 150%;
  }

  &--accent {
    @include mx.block-accent;
    color: vars.$light-color;

    * {
      color: vars.$light-color;
    }
  }
}

.interests {
  @extend %block;
  width: 267px;
  align-self: flex-start;

  &__title {
    @extend %block-title;
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.chip {
  padding: 4px 10px;
  border-radius: 40px;
  background-color: vars.$light-color;
  @extend %font-poppins-regular;
  font-size: 10px;
  line-height: 150%;
}

.contact {
  @extend %block;
  width: 267px;
  background-color: vars.$dark-color;
  color: vars.$light-color;
  display: flex;
  flex-direction: column;
  gap: 6px;
  //   align-self: flex-start;

  &__text {
    font-size: 14px;
    line-height: 150%;
    @extend %font-poppins-medium;
  }

  &__email {
    @extend %font-poppins-regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
    color: vars.$text-second-light-grey-color;
    text-decoration: none;
  }
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 595px) {
  .center {
    width: unset;
  }
  .wrapper {
    width: 100%;
  }

  .profile-info,
  .lang,
  .experience,
  .tool,
  .education,
  .interests,
  .contact {
    width: unset;
    flex: auto;
  }

  .job {
    flex-direction: column;
  }

  .tool__wrapper {
    gap: 12px;
  }

  %block-title {
    text-align: center;
  }

  .stat {
    gap: 17px;

    &__bar {
      flex-grow: 1;

      &-elem {
        width: unset;
        min-width: 168px;
      }
    }
  }
}


.stat__bar-elem--short {
        width: 76%;
      }

// [contenteditable="true"] {
//   outline: none;
//   border: 1px solid transparent;
//   padding: 4px;
//   border-radius: 6px;
//   background-color: vars.$light-color;

//   &:hover {
//     border-color: vars.$accent-color-1;
//     background-color: black;
//   }
// }
